/* styles.css (or styles.scss) */

.about-section {
    background-color: #fff;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 0px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .about-section-box {
    background-color: #7D73BE;
    border: 1px solid #7d73bd; /* Add a border */
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
    width: 30%;
    height: 300px;
    padding: 10px 15px;
  }
  
  .about-box-heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  
  .about-box-description {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    margin-top: 20px;
  }

  /* Add hover styles for the section-box class */
.about-section-box:hover {
  background-color: #6056A3; /* Change the background color on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Add styles for the box-heading and box-description classes */
.about-section-box .about-box-content .about-box-heading {
  color: #fff; /* Change the text color for better visibility */
}

.about-section-box .about-box-content .about-box-description {
  color: #fff; /* Change the text color for better visibility */
  font-weight: none;
}

/* Optional: Add box shadow for a subtle lift effect on hover */
.about-section-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  