/* styles.css (or styles.scss) */

.about-section {
    background-color: #fff;
    width: 100%;
    padding: 40px 10px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center;
    z-index: 100;
    margin-right: 0px;
  }


  
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .about-image {
    flex: 1;
  }
  
  .about-image img {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as per your design */
    height: auto;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-section-heading {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .about-section-box {
    background-color: #7D73BE;
    border: 1px solid #7d73bd; /* Add a border */
    color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 30%;
    height: 300px;
  }
  
  .box-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .about-box-content {
    text-align: left; /* Align text to the left */
  }
  
  .about-box-heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .about-box-description {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }

  /* Add hover styles for the section-box class */
.about-section-box:hover {
  background-color: #6056A3; /* Change the background color on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Add styles for the box-heading and box-description classes */
.about-section-box .about-box-content .about-box-heading {
  color: #fff; /* Change the text color for better visibility */
}

.about-section-box .about-box-content .about-box-description {
  color: #fff; /* Change the text color for better visibility */
}

/* Optional: Add box shadow for a subtle lift effect on hover */
.about-section-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  