/* styles.css (or styles.scss) */

.navbar {
    background-color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 5px grey;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-item a:hover {
    color: #ffc107;
  }
  