/* styles.css (or styles.scss) */
.navbar {
  position: fixed;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: #7d73bd;
  width: 100%;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    color: #fff;
  }
  
  .nav-item {
    margin-top: 5px;
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    opacity: 4;
  }

  @font-face {
    font-family: 'GABRWFFR';
    src: local('GABRWFFR'), url(./fonts/gabriel_weiss_friends/GABRWFFR.ttf) format('opentype');
  }

.logo {
  font-family: 'GABRWFFR';
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
}

.nav-item.active.btn-item {
  font-weight: bold;
  opacity: 2;

}

.active-line {
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 20px;
  background-color: #000;
  transition: transform 0.2s ease-in-out;
}

.nav-item .btn-item {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.nav-item .btn-item:hover {
  opacity: 2;
}

.btn-item .link{
  color: white;
}

.btn{
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 25px; 
}

.nav-item .btn:hover {
  color: #ffc107;
}
