/* styles.css (or styles.scss) */
.navbar {
  position: fixed;
  bottom: 30px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  background-color: #646cff;
  border-radius: 25px;
  width: 30%;
  margin-left: 30%;
  margin-top: 10px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    color: #fff;
  }
  
  .nav-item {
    margin-top: 5px;
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    opacity: 4;
  }

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-item.active.btn-item {
  font-weight: bold;
  opacity: 2;

}

.active-line {
  position: absolute;
  bottom: 5px;
  height: 2px;
  width: 20px;
  background-color: #000;
  transition: transform 0.2s ease-in-out;
}

.nav-item .btn-item {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.nav-item .btn-item:hover {
  opacity: 2;
}

.btn-item .link{
  color: white;
}
